html {
  color-scheme: light dark;
  font-family: sans-serif;
}

body {
  padding: 2rem;
  margin: auto;
  background-color: var(--background-color);
}


:root {
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #b40099;
  }
}

@media (min-width: 768px) {
  body {
    max-width: fit-content;
    min-width: 369px;
  }
}

ol {
  padding-left: 1rem;
}
